/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
  background-color: #bfc7ff;
}


p{
  font-family: 'Quicksand';
  color: #ffffff;
  font-size: 105%;
}

.jumbotron{
  background-color: #5E6DCC;
}

h1{
  font-family: 'Raleway';
  color: #ffd86b;
}


div{
  padding: 1%;
}

.site-header{
  background-color: #ffd86b;
  margin-bottom: 10px;
  font-family: 'Work Sans';
  color: #2E356E;
}

a.py-2{
  color: #2E356E;
}
a.py-2:visited{
  color: #2E356E;
}

button{
  background-color: #2E356E;
  color: #2E356E;
}


.title{
  background-color: #2E356E;
  font-family: 'Work Sans';
  font-size: 350%;
  color: #ffd86b;
  padding: 20px;
  padding-left: 25px;
}

/* unvisited link */
a:link {
    color: #E4B737;
}

a:visited {
    color: #E4B737;
}

a:hover {
    color: #E4B737;
}
