html{
  background-color: #bfc7ff;
}


p{
  font-family: 'Quicksand';
  color: #ffffff;
  font-size: 105%;
}

h2{
  font-family: 'Raleway';
  color: #ffd86b;
}
h3{
  font-family: 'Raleway';
  color: #ffd86b;
}

div{
  padding: 1%;
}

.container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.title{
    background-color: #2E356E;
    width: 90%;
}

h1{
  font-family: 'Work Sans';
  font-size: 350%;
  color: #ffd86b;
  padding: 10px;

}

.top{
  padding-top: 25px;
  width: 90%;
  position: static;
  padding-bottom: 25px;

}

.about{
  max-width: 90%;
  float: left;
  width: 90%;
  background-color: #5E6DCC;
  position: static;
  height: auto;
  padding-bottom: 30px;
}

.image{
  float: left;
  max-width: 90%;
  margin-bottom: 10px;
  background-color: #5E6DCC;
  width: 90%;
  position: static;
  height: auto;

}



.middle{
  width: 90%;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
  height: auto;
  background-color: #5E6DCC;
  position: static;
}

.projectHeader{
  width: 90%;
  float: left;
  position: static;
  background-color: #5E6DCC;
}

.projects{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  padding-bottom: 20px;
  overflow: hidden;
  background-color: #5E6DCC;
}

.project{
  float: left;
  width: 90%;
  background-color: #2E356E;
  margin: 1%;
  padding: 1%;
  flex-grow: 1;
  flex-shrink: 0;
}

.ptext{
  color: #e8ebf4;
}

/* unvisited link */
a:link {
    color: #E4B737;
}

a:visited {
    color: #E4B737;
}

a:hover {
    color: #E4B737;
}



@media (min-width: 500px) and (max-width: 949px){
  .container{
    position:relative;
    width: 90%;
  }
  .project{
    width: 40%;
  }
  #project1{
    text-align: left;
  }
  #project2{
    text-align: right;
  }
  #project3{
    width: 85%;
    text-align: center;
  }
}

@media (min-width: 950px){
  .container{
    position: relative;
    width: 90%;
  }
  .project{
    width: 29%;
  }
  #project3{
    text-align: right;
  }
  #project2{
    text-align: center;
  }
  .about{
    max-width: 60%;
    float: left;
    width: 60%;
    position: static;
    height: auto;
    padding-bottom: 30px;
  }

  .image{
    float: right;
    max-width: 25%;
    width: 25%;
    position: static;
    height: auto;
  }

}
